<h4 class='ui center aligned medium icon header'>
    <i class='circular orange coffee icon'></i>
    Say Something
</h4>

<div class='ui two column grid'>
    <div class='twelve wide column'>
        <div class='ui fluid raised card chatbox'>
            <div card='content'>
                <div class='ui small feed'>
                    <h4 class='ui header'>  </h4>
                </div>
            </div>
        </div>
    </div>

    <div class='four wide column'>
        <div class='ui fluid raised card chatbox'>
            <div card='content'>
                <div class='ui inverted vertical menu'>
                </div>
            </div>
        </div>
        
    </div>
</div>